<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OfuqProject">

        <activity
            android:name=".Awards_Board"
            android:exported="false" />
        <activity
            android:name=".third_story_part2"
            android:exported="false" />
        <activity
            android:name=".third_story"
            android:exported="false" />
        <activity
            android:name=".second_story_part2"
            android:exported="false" />
        <activity
            android:name=".second_story"
            android:exported="false" />
        <activity
            android:name=".first_story_part2"
            android:exported="false" />
        <activity
            android:name=".fourth_story_part2"
            android:exported="false" />
        <activity
            android:name=".fourth_story"
            android:exported="false" />
        <activity
            android:name=".first_story"
            android:exported="false" />

        <activity
            android:name=".SadChildAdviceActivity"
            android:exported="false" />
        <activity
            android:name=".ExpressionAdviceActivity"
            android:exported="false" />
        <activity
            android:name=".ConfidenceAdviceActivity"
            android:exported="false" />
        <activity
            android:name=".AngerAdviceActivity"
            android:exported="false" />
        <activity
            android:name=".main_puzzle"
            android:exported="false" />
        <activity
            android:name=".Puzzle_win_screen"
            android:exported="false" />
        <activity
            android:name=".storis_library"
            android:exported="false" />
        <activity
            android:name=".choice_screen"
            android:exported="false" />
        <activity
            android:name=".Home_Page"
            android:exported="false" />

        <activity
            android:name=".Splash_Screen"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity

            android:name=".main_puzzle"
            android:exported="false"/>
        <activity
            android:name=".Puzzle_win_screen"
            android:exported="false" />
        <activity
            android:name=".Educational_Consultant"
            android:exported="true">
        </activity>
        <activity
            android:name=".Parents_login"
            android:exported="false" />
        <activity
            android:name=".start_screen"
            android:exported="false" />
        <activity
            android:name=".children_login_screen"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <activity
            android:name=".login_screen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_email_check"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>